* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    margin: 50px auto;
    border-radius: 7px;
}

.img-container {
    width: 240px;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 7px 0 0 7px;
}

.product-container {
    width: 240px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}

h1, h2, span {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    padding: 10px 10px 10px 0;
}

p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 1.5rem;
    padding: 10px 0 10px 0;
}

.purchase-product {
    display: flex;
    align-items: center;
    color: hsl(158, 36%, 37%);
}

.old-price p {
    font-size: 12px;
    text-decoration: line-through;
}

.button {
    display: flex;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s;
    margin: 15px 0;
}

.button i {
    color: hsl(0, 0%, 100%);
    margin-right: 5px;
}

.button a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.button:hover {
    background-color: #1a4031;
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%); 
}